<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/navbar.css">
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <title>ECommerce PersonalProject by Ian</title>
</head>
<body>
  <header class="navbarSection">
    <nav class="navbarArea">
      <ul class="navLinks">
        <li><a href="/index.html">Home<i class="ph ph-caret-down"></i>

        </a></li>
        <li><a href="/">Shop<i class="ph ph-caret-down"></i>

        </a></li>
        <li><a href="/">Featured<i class="ph ph-caret-down"></i>

        </a></li>
        <li><a href="/">Layouts<i class="ph ph-caret-down"></i>

        </a></li>
        <li><a href="/">Pages<i class="ph ph-caret-down"></i>

        </a></li>
      </ul>
      <div class="searchArea">
        <div class="barSearch"></div>
        <input type="text" placeholder="Search here">
        <button><i class="ph ph-magnifying-glass"></i></button>
      </div>
      <div class="cartArea">
        <a href="/"><i class="ph ph-shopping-cart"></i>
        </a>
      </div>
      <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
  </header>


</body>
</html>